.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 0 0.8rem 0;
  background: linear-gradient(to right, $mainBlue 50%, $mainYellow 50%) top;
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;

  &__name {
    font-size: 1.5rem;
    letter-spacing: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;

    @mixin atSmall {
      font-size: 2rem;
    }

    @mixin atMedium {
      font-size: 2.5rem;
    }
  }
}

.footer__name {
}

.footer__address,
.footer__contact {
  font-size: 0.8rem;

  @mixin atSmall {
    font-size: 1rem;
  }

  @mixin atMedium {
    font-size: 1.2rem;
  }
}

.footer__contact {
}

.footer__copyright {
  font-size: 0.8rem;
  @mixin atSmall {
    font-size: 1rem;
  }
}
