.header {
  padding: 0.5rem 0 0.5rem 0;
  background: linear-gradient(to right, $mainBlue 50%, $mainYellow 50%) bottom;
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
}

.header__wrapper {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__sns_logos {
  align-self: flex-end;
}

.header__logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 0.8rem;

  &_img_container {
    position: relative;
  }

  &_img {
    width: 240px;
  }

  &_strip {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1rem;
    width: 100vw;
    background: linear-gradient(to right, $mainBlue 50%, $mainYellow 50%);
  }

  &_text {
    font-size: 2rem;
    letter-spacing: 1rem;
  }
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: start;
}

.header__nav_element {
  width: 100px;
  text-align: center;
  height: 1.6rem;
  padding-top: 0.4rem;

  &_active {
    background-color: $mainBlue;
    color: white;
  }
}
