.header {
  padding: 0.8rem 0 0.8rem 0;
  background: linear-gradient(to right, $mainBlue 50%, $mainYellow 50%) bottom;
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
}

.header__wrapper {
  width: 400px;
  margin: 0 auto;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__sns-logos {
  align-self: flex-end;
}

.header__logo {
  text-align: center;
  padding-bottom: 0.8rem;
  &_img {
    width: 15rem;
  }

  &_text {
    font-size: 2rem;
    letter-spacing: 1rem;
  }
}

.header__nav {
}
