.main-body {
  padding: 1rem;

  &__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__img-container_center {
    margin-top: 150px;
  }

  &__img {
    padding: 1rem;
  }
}
